/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  margin: 0 auto;
  width: 12%;
  height: auto;
}
body{
  text-align: center;
}
button{
  display: inline-block;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
